// Override and completely custom styles:
// Print-only styles.

body {
  font-family: consolas, "SFMono-Regular", menlo !important;
  // font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.bf-club-nav-footer {
    display: block;
    padding-top: 3rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    flex: 1 1 auto;
}
