// Override and completely custom styles:
// Print-only styles.

body {
  font-family: consolas, "SFMono-Regular", menlo !important;
  // font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.bf-club-side-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.bf-club-site-footer {
  @include container;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

p.highlight {
  background: none;
  border: 1px solid #f2e3c6;
  border-left: 4px solid #f2e3c6;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

.mix {
    width: 100%;
  @include mq(sm) {
    width: 49%;
  }

}

.mix {
    display: inline-block;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
    border: 1px solid;
    border-radius: 4px;
}
