// Override and completely custom styles:
// Print-only styles.

body {
  font-family: consolas, "SFMono-Regular", menlo !important;
  // font-family: Walfork,Walsheim,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.bf-club-nav-footer {
    min-height: 2rem;
    line-height: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
