$pinkp-000: #f6dbdb;
$pinkp-100: #f6dbdb;
$pinkp-200: #f6dbdb;
$pinkp-300: #f6dbdb;

$yellowp-000: #f2e3c6;
$yellowp-100: #f2e3c6;
$yellowp-200: #f2e3c6;
$yellowp-300: #f2e3c6;

$bluep-000: #d3ece1;
$bluep-100: #d3ece1;
$bluep-200: #d3ece1;
$bluep-300: #d3ece1;

$greenp-000: #c2eec7;
$greenp-100: #c2eec7;
$greenp-200: #c2eec7;
$greenp-300: #c2eec7;

$purplep-000: #eed2e8;
$purplep-100: #eed2e8;
$purplep-200: #eed2e8;
$purplep-300: #eed2e8;
